body {margin:0;
padding:0;
background:#e9e9e9;}
.circle {
top:35%;
left:40%;
position:absolute;
width:40vh;
height:40vh;
background:linear-gradient(#33ccff, #ff0066);
border-radius:50%;
animation:animate 0.5s linear infinite;}
@keyframes animate {
from {
filter: hue-rotate(0deg);}
to {
filter: hue-rotate(360deg);}
}

.circle:after {
content:'';
position:absolute;
top:12%;
bottom:12%;
right:12%;
left:12%;
background:#e9e9e9;
border-radius:50%;}
.circle span {position:absolute;
width:100%;
height:100%;
background:linear-gradient(#345ccf, #0abbcf);
border-radius:50%;}
.circle:nth-child(1) {
filter:blur(1px);}
.circle:nth-child(2) {
filter:blur(1px);}
.circle:nth-child(3) {
filter:blur(1px);}
.circle:nth-child(4) {
body {margin:0;
padding:0;
background:#e9e9e9;}
.circle {
top:35%;
left:40%;
position:absolute;
width:40vh;
height:40vh;
background:linear-gradient(#33ccff, #ff0066);
border-radius:50%;
animation:ani 0.5s linear infinite;}
@keyframes ani {
from {
transform:rotate(0deg);}
to {
transform:rotate(380deg);}
}

.circle:after {
content:'';
position:absolute;
top:12%;
bottom:12%;
right:12%;
left:12%;
background:#e9e9e9;
border-radius:50%;}
.circle span {position:absolute;
width:100%;
height:100%;
background:linear-gradient(#345ccf, #0abbcf);
border-radius:50%;}
.circle:nth-child(1) {
filter:blur(1px);}
.circle:nth-child(2) {
filter:blur(1px);}
.circle:nth-child(3) {
filter:blur(1px);}
.circle:nth-child(4) {
filter:blur(1px);}